@import "../../assets/colors.scss";

footer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 0.5rem solid $border-image;
  -webkit-box-shadow: 0 8px 6px 8px lightgray;
  -moz-box-shadow: 0 8px 6px 8px lightgray;
  box-shadow: 0 8px 6px 8px lightgray;
  z-index: 10;
  a {
      padding: 0.5rem 0.5rem 0 0.5rem;
  }
}
