@import "../../assets/colors.scss";

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Dosis", sans-serif;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $border-image;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $p-color;
}

.layout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.site-content {
  flex: 1;
}
a {
  text-decoration: none;
}

a,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
figcaption {
  color: $t-color;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2.6rem;
}
h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 2rem;
  font-weight: 700;
}
li {
  list-style: none;
}
