@import "../../assets/colors.scss";

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $p-color;
}
.site-content {
  flex: 1;
  justify-content: center;
  margin: auto;
}
a {
  color: $t-color;
  text-decoration: none;
}

a,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li{ list-style: none;}
