@import "../../assets/colors.scss";

.profile-block {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  h3 {
    padding-left: 2rem;
    margin-bottom: 2rem;
  }
  .profile-block__layer {
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .profile-block__content {
    z-index: 2;
    padding: 4rem 0;
    .left {
      flex-direction: row-reverse;
    }
    .profile-block__content__boxes {
      max-width: 960px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .profile-block__content__boxes__img {
        flex: 1 1 400px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0 2rem;
        border-radius: 50%;
        img {
          max-width: 100%;
          border-radius: 50%;
          height: 350px;
          width: 350px;
          object-fit: cover;
          border: 1rem solid white;
          margin: 0 1rem 1rem 1rem;
        }
      }
      .profile-block__content__boxes__text {
        flex: 1 1 500px;
        padding: 0 2rem 2rem 2rem;
        .text-top {
          padding-bottom: 1rem;
          font-weight: 1000;
        }
        .text-bottom {
          font-weight: 500;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .profile-block__content__boxes__img {
    img {
      height: 200px !important;
      width: 200px !important;
    }
  }
}
